.team-container {
    padding: 20px;
  }
  
  .back-btn {
    margin-bottom: 20px;
  }
  
  .team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .team-card {
    width: 250px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(128, 0, 128, 0.5); /* Default shadow */
    transition: box-shadow 0.3s ease; /* Add transition for smooth effect */
  }
  
  .team-card:hover {
    box-shadow: 0 8px 16px rgba(128, 0, 128, 0.8); /* Enhanced shadow on hover */
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  